// Menu
// -----------------------------------------------------------------------------
.menu-image{
  max-width: 120%;
  border-radius: 25px;
}

.menu-content{
  width: 100%;
}

.menu-recipes{
  width:100%;
}

.menu-recipes li a{
  font-size: 16pt;
  text-align: left;
}

.menu-recipes li a:hover{
  border: none;
}

.menu-recipes li a.active{
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: $naranja2 !important;
  color: $naranja2 !important;
}

#myTabContent{
  width:100%;
}

.menu-recipe-text {
  border-top: 2px solid $gris1;
  border-bottom: 2px solid $gris1;
  padding-left: 4%;
  padding-top: 2%;
  background-color: $white;
}

.menu-recipe-text div p{
  color: $gris1;
  font-size: 15pt;
}

.menu-recipe-text div h3{
  font-size: 18pt;
}

.menu-recipe-text div h3 a:hover{
  color: $gris1;
  text-decoration:none;
}

.menu-recipe-other-link{
  font-size: 12pt;
  font-weight: bold;
  color: $naranja2;
}
.menu-recipe-other-link:hover{
  color: $naranja1;
  text-decoration: none;
}

.menu-recipe-trash{
  border-top: 2px solid $gris1;
  border-bottom: 2px solid $gris1;
  border-right: 2px solid $gris1;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  padding-left: 2.5%;
  padding-bottom: 2%;
  background-color: $white;
}

.menu-image-trash {
  width: 20px;
  height: 20px;
}

.menu-recipe-image img{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.menu-recipe-image {
  padding-right: 0% !important;
}

.menu-card-cutlery {
  width: 20px;
  height: 20px;
}

.menu-card-calendar {
  width: 20px;
  height: 20px;
}

.card-mini-text {
  font-size: 12pt;
}

.food-name h4 {
  padding-top: 1%;
  padding-bottom: 1%;
  color: $gris3;
  font-size: 18pt;
  font-weight: bold;
}

.author-picture {
  z-index: 1;
  top: 10px;
  left: 10px;
  margin: 0!important;
  position: absolute;
  article{
    margin: 0px;
  }
}
