// Noticia
// -----------------------------------------------------------------------------

.cabecera-content-noticia {
    min-height: 450px;
    display: flex;
    background-size: cover;

    .miga-de-pan {
        color: white;
        position: absolute;
    }
}

.contenido-noticia-full {
    background-color: white;
    padding: 30px;
    border-radius: 0.5rem;
    position: relative;
    top: -100px;
}
.noticia--full {

}
.bloque-titulo-noticia {
    display: flex;
    min-height: 450px;
    color: white;

    > row, h1 {
        text-align: center;
    }
}

.fecha_contenido-full {
    margin-bottom: 50px;
}


