.row-comments, .row-form-comments{
    .imagen-perfil{
        img{
            width: 100%;
            max-width: 100px;
            min-width: 100px;
            position: relative;
            top: -10px;
        }
    }

    .card{
        width: 100%;
        border: none;
        .card-header{
            background-color: transparent;
            border: none;
            padding-left: 10px;
            padding-right: 0px;
        }

        .card-body{
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 10px;
            padding-right: 0px;
            p{
                font-size: 18px;
            }

            .btn-actions{
                a{
                    font-weight: bold;
                }
            }

            .likes-comments{
                span{
                    font-weight: bold;
                }
                span.btn-ci{
                    margin-left: 3px;
                    margin-right: 7px;
                }
            }
        }
    }
    
    #edit-preview{
        display: none;
    }

    .js-form-submit{
        margin-left: 20px;
    }
}

section>.indented{
    margin-left: 110px;
}

.col-number-comments{
    margin-top: 50px;
    margin-bottom: 35px;
}