// Royal Blocks
// -----------------------------------------

// like field

.magazine__field-like {
  width: auto;
  display: inline-block;
  padding-left: 0;
  margin-left: 0;
}

div.comment__field-like {
  div.field__items {
    display: none;
  }
}

a.use-ajax:link,
a.use-ajax:visited,
a.use-ajax:focus,
a.use-ajax:hover,
a.use-ajax:active {
  text-decoration: none;
}

.ajax-progress-throbber {
  display: none;
}

// Modal Share RRSS

.modal-content {
  text-align: center !important;
  //width: 75% !important;

  .share-modal-title {
    font-weight: bold !important;
    padding-top: 2rem !important;
  }
  .share-modal-label span {
    color: $gris2 !important;
  }
  .box-url {
    color: $gris1;
    padding-top: 0.4rem;
    padding-bottom: 0.6rem;
    padding-left: 1rem;
    border: 2px solid $gris1;
    border-radius: 40px 40px 40px 40px;
  }
  .botton-copy {
    margin-top: -1px !important;
    width: 20%;
    border-radius: 0 40px 40px 0 !important;
  }
  .input-url {
    color: gray;
    border: none;
    width: 40%;
  }
}

// Category Block

.category-block {
  background-color: $white;
  border-radius: 0.5rem;
  height: 270px;
  overflow: hidden;
  padding-top: 2rem;
  .category-ico {
    background-position-x: center;
    background-position-y: top;
    background-size: 40px;
    height: 50px;
  }
  h4 {
    font-size: 1rem;
    line-height: 13pt;
    margin-bottom: 0px;
  }
  p {
    font-size: 0.9rem;
  }
  .card-footer {
    border-top: none;
    padding-bottom: 1rem;
    a:link,
    a:visited,
    a:active {
      text-decoration: none;
    }
    .likes-comments {
      padding-bottom: 1rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
    .market-share {
      padding-top: 1rem;
      a.use-ajax {
        margin: 0px;
      }
      .ci-compartir {
        width: auto;
        padding-right: 20px;
        background-position-x: right;
        height: auto;
        background-size: 1rem;
        background-position-y: center;
      }
    }
  }
}

// customblock

.customblock-h {
  min-height: $customblock-h;
}
.customblock-2h {
  min-height: $customblock-2h;
}
// customtext

.customtext {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: $grid-gutter-width / 2;
  margin-bottom: $grid-gutter-width / 2;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 0.5rem;
  img {
    max-width: 100%;
  }
}

@include media-breakpoint-up(md) {
  .customtext {
    padding-left: 15px;
    padding-right: 15px;
  }
}

// Cabecera

.cabecera {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: $grid-gutter-width / 2;
  margin-bottom: $grid-gutter-width / 2;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.cabecera h1 {
  font-size: 1.2rem;
  font-weight: bold;
  color: $white;
}
.cabecera-breadcrumb,
.cabecera-breadcrumb a {
  color: $gris1;
  font-size: 12pt;
  font-family: 'NunitoSans-Bold';
  margin-bottom: 0px;
}
.cabecera-breadcrumb .title-breadcrumb {
  color: $gris2;
}

@media only screen and (min-width: 781px) {
  .cabecera {
    padding-left: 8rem;
    text-align: left;
  }
}

// CTA
.cta {
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 2rem 1rem;
  margin-top: $grid-gutter-width / 2;
  margin-bottom: $grid-gutter-width / 2;
  border-radius: 0.5rem;
  margin-left: 0px;
  margin-right: 0px;
}
.cta h4 {
  font-weight: bold;
}
.cta .col-12 {
  padding-left: 30px;
  padding-right: 30px;
}

// ImagenHover
@media only screen and (max-width: 780px) {
  .imagenhover {
    margin-top: $grid-gutter-width / 2;
    margin-bottom: $grid-gutter-width / 2;
  }
}

@media only screen and (min-width: 781px) {
  .imagenhover {
    margin-top: $grid-gutter-width / 2;
    margin-bottom: $grid-gutter-width / 2;
  }
}

.imagenhover {
  display: block;
  position: relative;
}

.imagenhover .img1 {
  width: 100%;
}
.imagenhover .img2 {
  position: absolute;
  z-index: -1;
  width: 100% !important;
  height: 100%;
}

.imagenhover .img1 {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.imagenhover .img1:hover {
  opacity: 0;
  filter: alpha(opacity=0);
}
.imagenhover .img2 {
  opacity: 1;
  filter: alpha(opacity=1);
}

.custom-row-region-content-fluid {
  div[data-block-plugin-id='cta_block'] {
    width: 100%;
    .cta {
      margin-top: 0px !important;
      margin-bottom: 0px !important;
      border-radius: 0px !important;
    }
  }

  .block--clicktoaction-2 {
    .cta {
      .row {
        -webkit-box-pack: start !important;
        justify-content: start !important;
        & > div {
          width: 50% !important;
          max-width: 50%;
          padding-left: 100px;
          text-align: left;
          p {
            margin-top: 15px;
          }
          img {
            height: 40px;
            margin-right: 15px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .block--clicktoaction-3 {
    .cta {
      .row {
        -webkit-box-pack: end !important;
        justify-content: flex-end !important;
        & > div {
          width: 50% !important;
          max-width: 50%;
          padding-right: 100px;
          text-align: left;
          p {
            margin-top: 15px;
          }
        }
      }
    }
  }

  .block--clicktoaction-4 {
    .cta {
      .row {
        -webkit-box-pack: start !important;
        justify-content: start !important;
        & > div {
          width: 50% !important;
          max-width: 50%;
          padding-left: 100px;
          text-align: left;
          p {
            margin-top: 15px;
          }
        }
      }
    }
  }

  .block--clicktoaction-5 {
    .cta {
      .row {
        & > div {
          img {
            height: 40px;
            margin-right: 15px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.custom-row-region-cabeceras-interiores {
  .cta {
    margin-top: 0px;
    border-radius: 0px;
  }
}

.mundoconsum_home {
  margin-bottom: 100px;
  .cta2col {
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  div[data-block-plugin-id='cta_2colblock']:nth-child(1) {
    .cta2col {
      border-radius: 10px 10px 0px 0px;
      margin-top: 0.5rem;
    }
  }

  div[data-block-plugin-id='cta_2colblock']:last-of-type {
    .cta2col {
      border-radius: 0px 0px 10px 10px;
      margin-bottom: 0.5rem;
    }
  }
}

.btn-register {
  background-image: svg-url-color('#fff', '#fff', 'register') !important;
  background-repeat: no-repeat !important;
  background-size: 25px !important;
  background-position-y: center !important;
  background-position-x: 1.5rem !important;
  padding-left: 60px !important;
}

.block > h2 {
  display: none; //Para ocultar los titulos de los bloques personalizados en el front.
}

.js-layout-builder-block.block > h2 {
  display: block; //Para mostar los titulos de los bloques personalizados en el layout builder.
}

.comunidad_home {
  margin-bottom: 40px;
  .cta {
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  div[data-block-plugin-id='cta_block']:nth-child(1) {
    .cta {
      border-radius: 10px 10px 0px 0px;
      margin-top: 0.5rem;
    }
  }

  div[data-block-plugin-id='cta_block']:last-of-type {
    .cta {
      border-radius: 0px 0px 10px 10px;
      margin-bottom: 0.5rem;
    }
  }

  div[data-block-plugin-id='cta_block']:nth-child(odd) {
    .cta {
      .row {
        -webkit-box-pack: start !important;
        justify-content: start !important;
        & > div {
          width: 50% !important;
          max-width: 50%;
          padding-left: 100px;
          text-align: left;
          p {
            margin-top: 15px;
          }
        }
      }
    }
  }

  div[data-block-plugin-id='cta_block']:nth-child(even) {
    .cta {
      .row {
        -webkit-box-pack: end !important;
        justify-content: flex-end !important;
        & > div {
          width: 50% !important;
          max-width: 50%;
          padding-right: 100px;
          text-align: left;
          p {
            margin-top: 15px;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  #blazy-views-revistas-bonita-1 {
    grid-template-columns: 1fr 1fr !important;
  }

  .container-rrss {
    padding-left: 126px !important;
  }

  .block--horarioyatencionalcliente .container-horario-ac {
    padding-right: 0px !important;
  }
}

@include media-breakpoint-down(sm) {
  #blazy-views-revistas-bonita-1 {
    grid-template-columns: 1fr !important;
  }

  .block--iconosappybotondeatencionalcliente {
    .div-global {
      .div-btn-ac {
        margin-right: 0px !important;
      }
    }
    .div-global-icons {
      text-align: center;
    }
  }

  .block--horarioyatencionalcliente {
    text-align: center !important;
  }
}

/***** REGION ACCESSIBILITY *****/
.custom-row-region-navbar-accessibility {
  background-color: $fondo2;
}

/***** REGION FOOTER FLUID *****/

.custom-row-region-footer-fluid {
  background-color: $white;
  position: relative;
  h2 {
    font-family: 'NunitoSans-Bold';
    font-size: 18px;
    margin-bottom: 10px;
  }

  ul {
    display: contents;
    li a {
      padding: 0px;
    }
  }
}

/***** REGION CABECERA INTERIOR *****/
.custom-container-region-cabeceras-interiores {
  padding-left: 0px;
  padding-right: 0px;
  .cabecera {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.custom-row-region-cabeceras-interiores div {
  width: 100%;
}

/***** REGION MENÚ PERSONALIZADO *****/
.custom-row-region-menu-personalizado {
  position: relative;
  background-color: $fondo1;
  div {
    width: 100%;
  }
}

/***** BODY *****/

body.overflow-hidden {
  overflow: hidden;
}

.sticky-top {
  display: none;
}

/***** POLITICAS Y COPYRIGHT *****/

.block--politicasycopyright,
.block--politicasycopyright-2 {
  padding-top: 5px;
  padding-bottom: 5px;
  .col-politicascopyright p {
    margin-bottom: 0px;
    text-align: center;
    span {
      font-family: 'NunitoSans-Bold';
      font-size: 15px;
    }
    .separador {
      padding: 0px 2.5px;
    }
    .copyright {
      padding-left: 30px;
    }
  }
}

.block--politicasycopyright {
  background-color: $fondo2;
}

.block--politicasycopyright-2 {
  background-color: $fondo3;
}

.custom-container-region-footer-fluid {
  .custom-row-region-footer-fluid {
    .block--columnbreak-2 {
      margin-bottom: 50px;
    }
    .block--columnbreak-3 {
      margin-top: 80px;
    }
  }
}

/***** RRSS *****/

.block--newsletteryrrss {
  min-height: 80px;
  background-color: $fondo2;
}

.block--horarioyatencionalcliente {
  background-color: $fondo2;
  text-align: right;
  .container-horario-ac {
    padding-right: 126px;
  }
  p {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

/***** TITLE PAGE *****/
.block--title-categoria {
  display: flex;
  align-items: center;
}

/***** MENÚ ACCESIBILIDAD *****/
.block--menuaccesibilidad {
  min-width: fit-content;
  padding-right: 0px;
}

.block--menuaccesibilidad ul {
  font-size: 13pt;
  font-family: 'NunitoSans-Bold';
  li {
    a {
      padding-left: 33px;
      padding-right: 25px;
    }
  }
  li:before {
    content: '';
    position: absolute;
    top: 8px;
    height: 25px;
    width: 25px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
  }
  li:nth-child(1) {
    &:before {
      background-image: svg-url-color('#3a3a41', '#3a3a41', 'accesibilidad');
    }
  }
  li:nth-child(2) {
    &:before {
      background-image: url(/themes/custom/consum_es/assets/img/phone.svg);
    }
  }
}

/****** ITEMS USER *****/

.block--usuario {
  #collapseUser {
    position: absolute;
    background-color: $white;
    width: 195px;
    z-index: 3;
    right: 0px;
    border-radius: 0.5rem;
    box-shadow: 1px 3px 10px rgba(51, 51, 51, 0.4);
    margin-top: 1rem;
    padding: 1rem;
    .t-e {
      width: 0;
      height: 0;
      border-right: 12px solid transparent;
      border-top: 12px solid transparent;
      border-left: 12px solid transparent;
      border-bottom: 12px solid $white;
      position: absolute;
      top: -24px;
      right: 13px;
    }
    p {
      border-bottom: 1px solid #e6e5e5;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      margin-bottom: 0px;
      font-size: 14pt;
      &:last-of-type {
        border-bottom: none;
        padding-bottom: 0px;
      }
      &:nth-child(1){
        padding-top: 0px;
      }
    }
  }
}

/***** MENÚS FOOTER FLUID *****/

.custom-row-region-footer-fluid ul li a,
.custom-row-region-footer-fluid ul li a:hover {
  color: #5e5d6e;
  font-family: 'NunitoSans-Regular';
}

/***** BLOCK SWITCH LANGUAGE *****/
.block[data-block-plugin-id='language_block:language_interface'] {
  button {
    box-shadow: none !important;
    font-size: 13pt;
    font-family: 'NunitoSans-Bold';
    padding: 0.5rem 0rem;
    padding-right: 15px;
    border: none;
    &:after {
      display: none !important;
    }

    p {
      margin-bottom: 0px;
      display: initial;
      font-size: 14pt;
    }

    .ci-web {
      height: 25px;
      width: 25px;
      margin-right: 8px;
    }

    .ci-down,
    .ci-up {
      height: 18px;
      width: 18px;
      background-position-x: center;
      background-position-y: center;
      margin-left: 8px;
    }
  }

  ul {
    width: 100%;
    border-radius: 0px;
    margin: 0px;

    li a {
      font-size: 14pt;
      color: $black;
    }
  }
}

/***** SEARCH *****/

#search-block-form:before {
  content: '';
  position: relative;
  left: 45px;
  height: 25px;
  width: 25px;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-image: svg-url-color('#1d1d1b', '#1d1d1b', 'micro');
  cursor: pointer;
}

#search-block-form .js-form-item-keys input {
  background-color: $fondo2;
  border: none;
  border-radius: 30px 0px 0px 30px;
  width: 400px;
  height: 50px;
  padding-left: 50px;
}

#search-block-form .form-actions input {
  border: none;
  background-color: $naranja2;
  border-radius: 0px 30px 30px 0px;
  height: 50px;
  width: 50px;
  background-image: svg-url-color('#fff', '#fff', 'search');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.block--formulariodebusqueda form {
  width: 90%;
  max-width: 850px;
  .form-item {
    width: calc(100% - 75px);
    input {
      width: 100% !important;
    }
  }
}

/* RRSS */

.container-rrss {
  padding-left: 156px;
  a {
    height: 30px;
  }
  span {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}

/***** BLOCK LOGO CABECERA *****/
.custom-row-region-navbar-principal .block--logo {
  height: calc(100% - 20px);
}

.custom-row-region-navbar-principal .container-logo img {
  top: -12px;
  position: relative;
  width: 126px;
  z-index: 4;
}

/***** BLOCK LOGO FOOTER FLUID *****/
.custom-row-region-footer-fluid .block--logo-2 {
  height: calc(100% - 20px);
  position: relative;
  top: -100px;
}

.custom-row-region-footer-fluid .block--logo-3 {
  position: absolute;
  top: -23px;
  z-index: 1;
}

.custom-row-region-footer-fluid .container-logo img {
  width: 126px;
}

/** BLOCK SHOPPING CART **/

.block--shoppingcart {
  padding-left: 7.5px;
  .container-tol a {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-position: center;
    display: flex;
  }
}

/***** BLOCK LOCALIZACION *****/

.block--localizacion {
  padding-left: 7.5px;
  padding-right: 7.5px;
  .container-localizacion span {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-position: center;
  }
}

.container-localizacion p {
  margin-bottom: 0px;
}

/***** BLOCK USUARIO *****/

.container-user {
  img {
    width: 45px;
    height: 45px;
    cursor: pointer;
    z-index: 2;
    position: relative;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50px;
    &[aria-expanded="true"]{
      z-index: 3;
    }
  }
  &>span {
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 2;
    position: relative;
    margin-top: 7.5px;
    &[aria-expanded="true"]{
      z-index: 3;
    }
  }
  #collapseUser span {
    background-position-x: left;
    background-position-y: center;
    margin-right: 10px;
  }
  .collapse-no-login{
    width: 300px !important;
  }
  .no-login{
    text-align: center;
    p{
      font-size: 15px !important;
      font-style: italic;
      margin-bottom: 0;
    }
    .enlace-inicio-sesion{
      font-weight: bold;
    }
    .enlace-registro{
      color: #f8951d;
    }
  }
}

/***** BLOCK MENU BURGER *****/

.container-btnhamburguesa {
  height: 20px;
}

.container-btnhamburguesa span {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-position-y: center;
  background-position-x: center;
}

/***** BLOCK SEARCH ICON *****/
.container-search {
  height: 20px;
}

.container-search span {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-position-y: center;
  background-position-x: center;
}

/***** BLOCK ICON APP *****/
.block--iconosappybotondeatencionalcliente {
  .div-global-icons {
    margin-bottom: 15px;
    img {
      width: auto;
      height: 35px;
      margin-left: 2.5px;
      margin-right: 2.5px;
      cursor: pointer;
    }

    p {
      font-size: 18px;
      margin-bottom: 5px;
      font-weight: bold;
    }
  }
  .boton2 {
    span {
      height: 25px;
      width: 25px;
      margin-right: 5px;
    }
  }

  .boton2:hover {
    span {
      background-image: svg-url-color('#fff', '#fff', 'info');
    }
  }
}

#blazy-views-revistas-bonita-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
  grid-column-gap: 16px;
}

/***** SIDEBAR *****/

.sidebar {
  width: 350px;
  height: 100vh;
  position: fixed;
  left: -355px;
  z-index: 3;
  background: $white;
  color: $gris3;
  transition: all 0.3s;
  box-shadow: 1px 3px 10px rgba(51, 51, 51, 0.4);
  border-radius: 0px 10px;
  padding-top: 120px;
  
  &.active {
    left: 0;
  }

  .dismiss {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all 0.3s;
    border-radius: 4px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    div {
      width: 100%;
      height: 100%;
    }
  }
  .logo {
    padding: 40px 20px;
    border-bottom: 1px solid #444;
    transition: all 0.3s;

    a {
      display: inline-block;
      width: 172px;
      height: 34px;
      background: url(../img/logo.png) left top no-repeat;
      border: 0;
      text-indent: -999999px;
    }
  }
  ul.menu-elements {
    padding: 10px 0;
    border-bottom: 1px solid #444;
    transition: all 0.3s;
  }
  .dropdown-toggle::after {
    display: none;
  }
  .div-toggle {
    position: absolute;
    right: 0px;
    width: 100% !important;
    top: 0px;
    height: 100%;
    background-image: svg-url-color('#3a3a41', '#3a3a41', 'right');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 30px);
    background-size: 10px;
    background-position-y: center;
    cursor: pointer;
    width: 10px;
    color: transparent;
    margin-left: 0px;
    border: 0rem;
  }
  .dropdown {
    cursor: pointer;
  }

  .dropdown-menu {
    margin-top: 0px;
  }

  .dropdown:hover > .div-toggle {
    background-image: svg-url-color('#dd5a31', '#dd5a31', 'right');
  }

  /*LEVEL 2*/

  .level-2 > ul > li {
    display: none;
  }

  .level-2 > ul > li.show-level-2 {
    display: block;
  }

  /* Tener en cuenta para el responsive */
  .level-2 > ul > li.show-level-2 > a {
    /*position: absolute;*/
    /*top: -78px;*/ //Para que el enlace padre de la categoría quede en primer lugar por delante de inicio son 39px * 2 que este es el valor del alto de cada li.
    width: calc(
      100% + 30px
    ); // 30px son los 15px de cada lateral del bloque para que llegue a estos.
    left: -15px; // Left negativo -15px que para solapar el padding left del bloque.
    margin-left: 0px;
    padding-top: 7px;
    margin-top: 0px; // Quitamos margin top y se lo ponemos como padding para el background.
    padding-bottom: 7px;
    margin-bottom: 0px; // Quitamos margin bottom y se lo ponemos como padding para el background.
    padding-left: 70px; // 15px del padding left del bloque + 30px del margin left que tienen los a que este caso se lo quitamos arriba + 25px para el arrow.
    color: $fondo3;
    border-bottom: 1px solid $fondo2;
    pointer-events: none;
  }

  .level-2 > ul > li.show-level-2 > .dropdown-menu {
    transform: initial !important;
    position: initial !important;
    border: none;
    padding: 0;
  }

  .level-2 > ul > li > .div-toggle {
    display: none;
  }

  /* LEVEL 3*/
  .level-3 > ul > li {
    display: none;
  }
  .level-3 > ul > li.show-level-2 {
    display: block;
  }
  .level-3 > ul > li.show-level-2 > a {
    display: none;
  }
  .level-3 > ul > li.show-level-2 > .dropdown-menu {
    display: block;
    transform: initial !important;
    position: initial !important;
    border: none;
    padding: 0;
  }
  .level-3 > ul > li.show-level-2 > .dropdown-menu > ul > li {
    display: none;
  }
  .level-3 > ul > li.show-level-2 > .dropdown-menu > ul > li.show-level-3 {
    display: block;
  }

  .level-3
    > ul
    > li.show-level-2
    > .dropdown-menu
    > ul
    > li.show-level-3
    > .dropdown-menu {
    transform: initial !important;
    position: initial !important;
    border: none;
    padding: 0;
    max-width: 100%;
  }

  .level-3
    > ul
    > li.show-level-2
    > .dropdown-menu
    > ul
    > li.show-level-3
    > .dropdown-menu
    > ul
    > li {
    max-width: 100%;
    padding: 0px;
  }

  /* Tener en cuenta para el responsive */
  .level-3 > ul > li.show-level-2 > .dropdown-menu > ul > li.show-level-3 > a {
    position: relative;
    width: calc(
      100% + 30px
    ); // 30px son los 15px de cada lateral del bloque para que llegue a estos.
    left: -15px; // Left negativo -15px que para solapar el padding left del bloque.
    margin-left: 0px;
    padding-top: 7px;
    margin-top: 0px; // Quitamos margin top y se lo ponemos como padding para el background.
    padding-bottom: 7px;
    margin-bottom: 0px; // Quitamos margin bottom y se lo ponemos como padding para el background.
    padding-left: 70px; // 15px del padding left del bloque + 30px del margin left que tienen los a que este caso se lo quitamos arriba + 25px del arrow.
    color: $fondo3;
    border-bottom: 1px solid $fondo2;
    pointer-events: none;
  }

  .dropdown.show-level-2:hover > .div-toggle,
  .dropdown.show-level-3:hover > .div-toggle {
    background-image: svg-url-color('#bfbfbf', '#bfbfbf', 'arrow-prev');
  }
  .show-level-2 > .div-toggle {
    /*position: absolute;*/
    display: block !important;
    height: 39px !important;
    left: -15px;
    width: calc(100% + 30px) !important;
    /* top: -78px;*/
    height: 100%;
    background-image: svg-url-color('#bfbfbf', '#bfbfbf', 'arrow-prev');
    background-repeat: no-repeat;
    background-position-x: 45px;
    background-size: 15px;
    background-position-y: center;
    cursor: pointer;
    color: transparent;
    margin-left: 0;
    border: 0;
    background-color: $fondo2;
  }
  .level-3 .show-level-2 > .div-toggle {
    display: none !important;
  }
  .show-level-3 > .div-toggle {
    position: absolute;
    display: block !important;
    height: 39px !important;
    left: -15px;
    width: calc(100% + 30px) !important;
    top: 0px;
    height: 100%;
    background-image: svg-url-color('#bfbfbf', '#bfbfbf', 'arrow-prev');
    background-repeat: no-repeat;
    background-position-x: 45px;
    background-size: 15px;
    background-position-y: center;
    cursor: pointer;
    color: transparent;
    margin-left: 0;
    border: 0;
    background-color: $fondo2;
  }
  ul li a {
    display: block;
    border: 0;
    color: $gris3;
    font-family: 'NunitoSans-Bold';
    width: fit-content;
    border-bottom: 1px solid $white;
    margin-bottom: 7px;
    margin-top: 7px;
    padding: 0px 0px;
    margin-left: 30px;
    position: relative;
    z-index: 1;
  }

  ul li a:hover,
  ul li a:focus,
  ul li.active > a:hover,
  ul li.active > a:focus {
    outline: 0;
    color: $rojo2;
    border-bottom: 1px solid $naranja2;
    background-color: transparent;
  }
  ul li a i {
    margin-right: 5px;
  }
  ul li.active > a,
  a[aria-expanded='true'] {
    outline: 0;
    color: $rojo2;
    border-bottom: 1px solid $naranja2;
  }

  ul li.active > a:after {
    display: none;
  }

  a[data-toggle='collapse'] {
    position: relative;
  }
}

.block--navegacionprincipal > ul > .dropdown:hover > a {
  outline: 0;
  color: $rojo2;
  border-bottom: 1px solid $naranja2;
}

.block--navegacionprincipal
  > ul
  > .dropdown
  > .dropdown-menu
  > ul
  > .dropdown:hover
  > a {
  outline: 0;
  color: $rojo2;
  border-bottom: 1px solid $naranja2;
}

.block--navegacionprincipal .dropdown-item.active {
  outline: 0;
  color: $rojo2;
  border-bottom: 1px solid $naranja2;
  background-color: transparent;
}

/***** LIGHT OVERLAY *****/
.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  background: rgba(220, 220, 220, 0.6);
  z-index: 2;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.overlay.active {
  display: block;
  opacity: 1;
}

/***** Content *****/

.content {
  width: 100%;
  transition: all 0.3s;
}

/***** Buttons *****/

a.btn-customized {
  margin-left: 5px;
  margin-right: 5px;
  padding: 0.75rem 1.5rem;
  background: #f35b3f;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 300;
  color: $white;
  box-shadow: none;
}

a.btn-customized:hover,
a.btn-customized:active,
a.btn-customized:focus,
a.btn-customized:active:focus,
a.btn-customized.active:focus,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  outline: 0;
  background: #cd533d;
  background: rgba(243, 91, 63, 0.7);
  border: 0;
  color: $white;
  box-shadow: none;
}

a.btn-customized-3 {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0.75rem 1.5rem;
  background: #444;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 300;
  color: $white;
  box-shadow: none;
}

a.btn-customized-3:hover,
a.btn-customized-3:active,
a.btn-customized-3:focus,
a.btn-customized-3:active:focus,
a.btn-customized-3.active:focus,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  outline: 0;
  background: #555;
  border: 0;
  color: $white;
  box-shadow: none;
}

a.btn-customized i,
a.btn-customized-2 i,
a.btn-customized-3 i {
  margin-right: 5px;
}

a.btn-customized-4 {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0 3px;
  padding: 0;
  background: #444;
  border: 0;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 300;
  color: $white;
  box-shadow: none;
  text-indent: -999999px;
}

a.btn-customized-4.btn-customized-dark {
  background: #222;
}
a.btn-customized-4.btn-customized-light {
  background: $white;
}

a.btn-customized-4.btn-customized-dark:hover,
a.btn-customized-4.btn-customized-dark:active,
a.btn-customized-4.btn-customized-dark:focus,
a.btn-customized-4.btn-customized-dark:active:focus,
a.btn-customized-4.btn-customized-dark.active:focus,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  outline: 0;
  background: #555;
  border: 0;
  color: $white;
  box-shadow: none;
}

a.btn-customized-4.btn-customized-light:hover,
a.btn-customized-4.btn-customized-light:active,
a.btn-customized-4.btn-customized-light:focus,
a.btn-customized-4.btn-customized-light:active:focus,
a.btn-customized-4.btn-customized-light.active:focus,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  outline: 0;
  background: #555;
  border: 0;
  color: $white;
  box-shadow: none;
}

/***** General style, all sections *****/

.section-container {
  margin: 0 auto;
  padding-bottom: 80px;
}

.section-container-gray-bg {
  background: #f8f8f8;
}

.section-container-image-bg,
.section-container-image-bg h2,
.section-container-image-bg h3 {
  color: $white;
}

.section-container-image-bg .divider-1 span {
  border-color: $white;
  border-color: rgba(255, 255, 255, 0.8);
}

.section-description {
  margin-top: 60px;
  padding-bottom: 10px;
}

.section-description p {
  margin-top: 20px;
  padding: 0 120px;
}
.section-container-image-bg .section-description p {
  opacity: 0.8;
}

.section-bottom-button {
  padding-top: 20px;
}

@include media-breakpoint-down(md) {
  .block--sobrenosotros ul,
  .block--comprar ul,
  .block--masconsum ul,
  .block--unete ul {
    display: none;
  }

  .block--sobrenosotros h2,
  .block--comprar h2,
  .block--masconsum h2,
  .block--unete h2 {
    margin-bottom: 0px;
  }

  .block--sobrenosotros h2:after,
  .block--comprar h2:after,
  .block--masconsum h2:after,
  .block--unete h2:after {
    content: '';
    position: absolute;
    padding-left: 15px;
    margin-left: 10px;
    cursor: pointer;
    top: 11px;
    background-image: url(/themes/custom/consum_es/assets/img/down.svg);
    height: 20px;
    width: 18px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .block--sobrenosotros h2.icon-up:after,
  .block--comprar h2.icon-up:after,
  .block--masconsum h2.icon-up:after,
  .block--unete h2.icon-up:after {
    background-image: url(/themes/custom/consum_es/assets/img/up.svg) !important;
  }

  .block--politicasycopyright,
  .block--politicasycopyright-2 {
    .col-politicascopyright {
      p {
        .copyright {
          padding-left: 0px;
        }
      }
    }
  }

  .block--iconosappybotondeatencionalcliente {
    margin-top: 30px;
    .div-global {
      .div-btn-ac {
        margin-right: 50px;
      }
    }
  }

  .custom-row-region-footer-fluid .block--logo-2 {
    width: 100%;
    top: -120px;
    .container-logo {
      position: absolute;
    }
  }

  .custom-container-region-footer-fluid
    .custom-row-region-footer-fluid
    .block--columnbreak-3 {
    margin-top: 40px;
  }
}

@include media-breakpoint-down(xs) {
  
}

@include media-breakpoint-up(sm) {
  nav.sidebar {
    .block[data-block-plugin-id='language_block:language_interface'],
    .block[data-block-plugin-id='system_menu_block:menu-accesibilidad'] {
      display: none;
    }
  }

  .block--botonhamburguesa {
    padding: 0px;
  }
}

// Consum View Tools
// -----------------------------------------------------------------------------

.views-layout,
.views-layout .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.submenu-hover-disabled {
  display: none !important;
}

.custom-row-region-menu-personalizado .submenu3 {
  position: absolute;
  top: 60px;
  background-color: $fondo1;
  z-index: 1;
  box-shadow: 0px 10px 10px -5px rgba(51, 51, 51, 0.4);
  border-radius: 0px 0px 10px 10px;
  z-index: 2;
  border-top: 1px solid #a09fa7;
}

.custom-row-region-menu-personalizado .submenu2 {
  border-bottom: 1px solid #a09fa7;
}

.block--title-categoria .nav .nav-link {
  padding-left: 0px;
  padding-right: 0px;
  line-height: 15pt;
}

.node--type-receta {
  .author-picture {
    z-index: 1;
    top: 10px;
    left: 25px;
    margin: 0px !important;
    position: absolute;
    article {
      margin: 0px;
    }
  }
}

//CAROUSEL TAXONOMY
#carousel-block {
  .carousel__container {
    overflow: hidden;
    width: calc(100% - 70px);
    margin: auto;
    .carousel__list {
      position: relative;
      z-index: 1;
      display: flex;
      flex-wrap: wrap;
      .carousel__item {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
  .carousel__nav {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    width: 100%;
    button {
      border: none;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 25px;
      background-color: transparent;
      height: 30px;
      width: 30px;
      padding: 0px;
      &:focus {
        outline: 0px !important;
      }
    }
    .carousel__button--prev {
      float: left;
      background-image: svg-url-color('#dd5a31', '#dd5a31', 'left-2');
    }
    .carousel__button--next {
      float: right;
      background-image: svg-url-color('#dd5a31', '#dd5a31', 'right-2');
    }
  }
}

#carouselBlock {
  .carousel-control-prev-icon {
    background-image: svg-url-color('#ffffff', '#ffffff', 'left-2');
    height: 30px;
    width: 30px;
  }
  .carousel-control-next-icon {
    background-image: svg-url-color('#ffffff', '#ffffff', 'right-2');
    height: 30px;
    width: 30px;
  }
}

#carouselBlockUnlimited {
  .carousel-control-prev-icon {
    background-image: svg-url-color('#ffffff', '#ffffff', 'left-2');
    height: 30px;
    width: 30px;
  }
  .carousel-control-next-icon {
    background-image: svg-url-color('#ffffff', '#ffffff', 'right-2');
    height: 30px;
    width: 30px;
  }

  .txt {
    position: absolute;
  }

  img {
    width: 100%;
  }

  .div-element-carousel-item {
    width: 100%;
    height: 100%;
  }
}

//TERMINOS Y CONDICIONES

.container-term-cond,
.container-pol-priv,
.container-atencion-cliente {
  background-color: white;
  border-radius: 10px;
  padding: 50px 100px;
  margin-bottom: 150px;
  .item-term-cond,
  .item-pol-priv,
  .item-cat-faq {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .customtext {
    margin: 0px !important;
    padding: 0px !important;
  }
  span {
    height: 50px;
    width: 50px;
    margin-right: 15px;
    background-position: center;
  }
  h6 {
    margin-top: 10px;
  }
}

.block--consum-es-page-title h1 {
  margin: auto;
}

.menu-sticky {
  position: fixed;
  z-index: 999;
  width: 100%;
}

@include media-breakpoint-down(md) {
  .block--formulariodebusqueda form {
    width: 100%;
  }

  #search-block-form:before {
    position: absolute;
    left: 35px;
  }

  .block--formulariodebusqueda form .form-item {
    width: calc(100% - 50px);
  }

  .custom-row-region-navbar-principal .container-logo img,
  .custom-row-region-footer-fluid .container-logo img {
    width: 100px;
  }
}

@include media-breakpoint-down(xs) {
  .custom-row-region-navbar-principal .container-logo img {
    top: 0px;
    position: relative;
    width: 90px;
  }

  .custom-row-region-navbar-principal .container-localizacion {
    height: 20px;
  }

  .custom-row-region-footer-fluid .block--logo-2,
  .custom-row-region-footer-fluid .block--logo-3 {
    display: none;
  }

  .block[data-block-plugin-id='language_block:language_interface'] button {
    font-size: 1rem;
    color: #3a3a41;
  }

  .block[data-block-plugin-id='language_block:language_interface'] ul {
    padding: 0px;
    margin-bottom: 7px;
    li {
      a {
        font-size: 1rem;
        color: #3a3a41;
        margin-left: 28px;
      }
    }
  }

  .sidebar {
    border-radius: 0px;
    padding-top: 100px;
    width: 100%;
    left: -100%;
    .dismiss {
      top: 25px;
      left: 25px;
    }

    ul li a {
      margin-left: 10px;
    }

    .div-toggle {
      background-position-x: calc(100% - 10px);
    }

    .block--alternadordeidioma-2 {
      padding-left: 25px;
      padding-right: 25px;
      ul {
        position: relative !important;
        transform: none !important;
        border: none !important;
      }
      .ci-web {
        height: 20px !important;
        width: 20px !important;
      }
      .ci-down,
      .ci-up {
        height: 15px !important;
        width: 15px !important;
      }
    }

    .block--menuaccesibilidad-2 {
      ul {
        padding-left: 0;
        display: block;
        li:last-child {
          display: none;
        }
      }
    }

    .level-2 > ul > li.show-level-2 > a,
    .level-3
      > ul
      > li.show-level-2
      > .dropdown-menu
      > ul
      > li.show-level-3
      > a {
      padding-left: 50px;
    }

    .show-level-2 > .div-toggle,
    .show-level-3 > .div-toggle {
      background-position-x: 25px;
    }

    .icon-node-51 {
      margin-left: 10px !important;
      margin-top: 5px !important;
      margin-bottom: 5px;
      background-size: 140px;
      padding-left: 0px !important;
    }
  }
}

/* Modal Block  */
@include media-breakpoint-up(lg) {
  .modal-dialog {
    max-width: 800px !important;
  }
}

/* Royal Network Block */

#social-network-block {
  margin-top: 15px;
}
#social-network-block .fb_iframe_widget iframe {
  max-width: 310px;
}
