/* Page: como-conseguir-medallas  */
.detalle-medallas {
    margin-top: -72px;
    .nav-item {
        background-color: #efefef;
        border: 1px solid white!important;
        color: $gris2;
        &.active {
            color: $naranja1;
        }
    }

    .tab-content {
        background-color: white;
        padding: 5%;
    }

}

/* Page: landing-app  */

.bloque-landing-app {
    padding: 0px!important;
    margin-top: 0px;
    .bloque-landing-app .col-12 {
        padding: 0px!important;
    }
}

/* Page: Mi Comunidad Landing */

.faq-article {
    font-size: 20pt;
    background-color: white;
    border: 1px solid $fondo2;
    padding-top: 10px;
    .faq-title {
        padding: 10px;
        text-decoration: none;
        color: $gris3!important;
    }
    .card-body {
        padding: 10px;
        background-color: $fondo2;
        margin: 0px;
        border-radius: 0px;
    }
}

article>.panel-display>.container-fluid{
    padding: 0px;
}