//VIEW MODE CARD
article.view-mode-card {
  color: $gris3;
  border-radius: 0 0 0.5rem 0.5rem;
  h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 1rem;
  }

  p {
    font-size: 1rem;
  }

  .card-content {
    margin-right: 0px;
    margin-left: 0px;
    background-color: $white;
    padding-top: 1rem;
    min-height: 215px;
    overflow: hidden;
    .ico-salida {
      background-image: svg-url-color(
        '#3a3a41',
        '#3a3a41',
        'organizador'
      );
      height: 30px;
      width: 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px;
      margin-right: 0.5rem;
      top: -3.5px;
      position: relative;
    }
  }

  .imagen_destacada {
    overflow: hidden;
    padding: 0px;
    img {
      -o-object-fit: cover;
      object-fit: cover;
      min-width: 100%;
      border-radius: 0.5rem 0.5rem 0 0;
    }
    .container-state{
      background-color: #31b5dd;
      position: absolute;
      top: 50px;
      padding: 5px 15px;
      border-radius: 0 0.5rem 0.5rem 0;
      span {
        color: white;
        font-weight: bold;
      }
    }
    .container-aviso {
      background-color: #e9df9a;
      position: absolute;
      top: 50px;
      padding: 5px 15px;
      border-radius: 0 0.5rem 0.5rem 0;
      &.last{
        background-color: #F8951D;
        color: white;
      }
      span {
        font-weight: bold;
      }
      .ico-aviso {
        background-image: svg-url-color('#3a3a41', '#3a3a41', 'altavoz');
        height: 30px;
        width: 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        margin-right: 0.5rem;
      }
      .ico-candado {
        background-image: svg-url-color('#fff', '#fff', 'candado');
        height: 30px;
        width: 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        margin-right: 0.5rem;
      }
    }
    .container-reservar, .container-comentar, .container-canjear, .container-opinar{
      width: 100%;
      text-align: center;
      position: absolute;
      padding: 5px;
      bottom: 0px;
      font-size: 18px;
      cursor: pointer;
    }
    .container-comentar{
      background-color: #e9df9a;
      color: #3a3a41;
      font-weight: bold;
    }
    .container-reservar{
      background-color: #3D9191;
      color: $white;
    }

    .container-canjear{
      background-color: #6CD9F0;
      color: $white;
    }

    .container-opinar{
      background-color: #FFC653;
      color: $white;
    }

  }
  .container-activo{
    border-bottom: 1px solid rgba(0,0,0,0.125);
    padding-bottom: 1rem;
    .ico-reloj{
      background-image: svg-url-color('#3a3a41', '#3a3a41', 'reloj');
      height: 30px;
      width: 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px;
      margin-right: 0.5rem;
    }
  }
  .team-category {
    overflow: hidden;
    a {
      border: 1px solid #3a3a41;
      font-size: 0.7rem;
      padding: 4px;
      transition: all ease-in-out 0.2s;
      border-radius: 100px;
      background: #fff;
      color: #3a3a41;
      &:hover {
        background: #3a3a41;
        text-decoration: none;
        color: #fff !important;
      }
    }
    .field__item {
      margin-top: 0px;
      margin-bottom: 5px;
    }
    &.team-category-receta,
    &.team-category-menu {
      a {
        float: left;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 1.5rem;
        font-size: 9.5pt;
        padding-right: 1.5rem;
        margin-bottom: 5px;
        margin-top: 0;
        margin-right: 0.5rem;
      }
    }
  }
  .author-picture {
    z-index: 1;
    top: 10px;
    left: 25px;
    margin: 0px !important;
    position: absolute;
    article {
      margin: 0px;
      img {
        min-height: initial;
      }
    }
  }
  .menu-card-calendar {
    width: 40px;
    height: 25px;
  }
  .menu-card-cutlery {
    width: 30px;
    height: 25px;
  }
  .card-mini-text {
    margin-bottom: 0px;
  }
}

@include media-breakpoint-up(md) {
  article.view-mode-card .imagen_destacada {
    height: 285px;
    img {
      min-height: 285px;
    }
  }
}

//FOOTER CARD
.card-footer {
  margin-right: 0px;
  margin-left: 0px;
  background-color: $white;
  padding: 0px;
  padding-top: 1rem;
  width: 100%;
  .likes-comments {
    a.use-ajax {
      margin-left: 2.5px;
      margin-right: 5px;
    }
    .ci-comentario {
      margin-left: 2.5px;
      margin-right: 5px;
    }
    .ci-corazon-activo {
      background-size: 18px;
    }
    .btn-ci {
      width: 20px;
    }
    & > span,
    & > div {
      font-weight: bold;
      font-size: 1rem;
    }
  }
  .market-share {
    a.use-ajax {
      margin-left: 5px;
      margin-right: 10px;
    }
    .btn-ci {
      width: 20px;
    }
    .ci-marcador {
      background-position-x: right;
    }
    .ci-marcador-activo {
      background-position-x: right;
    }
  }
}

// Visual mode card-img-der-4-8

article.view-mode-card-img-der-4-8 {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  height: 270px;
  overflow: hidden;
  margin-bottom: $grid-gutter-width / 2;
  color: $gris3;
  .card-content {
    height: 280px;
    overflow: hidden;
    min-height: 215px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: $white;
    padding-top: 1rem;
    h1.node__title {
      padding-top: 3rem;
    }
  }
  .imagen_destacada {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position-x: center;
  }
  h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  p {
    font-size: 1rem;
    max-height: 130px;
    overflow: hidden;
  }
}

@include media-breakpoint-down(md) {
  article.view-mode-card-img-der-4-8 {
    height: 500px;
    .imagen_destacada {
      height: 230px;
    }
  }
}

/* FIX for title of cards */

.view-mode-card-img-der-4-8 .node__title a span,
.view-mode-card .node__title a span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

// Visual mode Guía Card
.node--view-mode-guia-card {
  cursor: pointer;
  &:hover {
    a {
      text-decoration: none;
      color: $naranja2;
    }
  }
  .imagen_destacada {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0px;
  }

  .imagen_destacada:hover a {
    text-decoration: none;
    color: $naranja2;
  }

  .titulo-centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    h1 {
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    }
  }
  img {
    border-radius: 0.5rem;
  }
  a {
    color: $white;
  }
  a:hover {
    text-decoration: none;
    color: $naranja2;
  }
}

// Visual mode Truco

.node--view-mode-truco {
  background-color: $white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  padding-bottom: 20px;
  border-radius: 0.5rem;
  min-height: 450px;
  .magazine__field-category {
    text-align: center;
    background-color: $naranja1;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 0 0 10px 10px;
    a {
      color: $white;
      font-family: 'NunitoSans-Bold';
    }
  }
  p {
    font-size: 0.8rem !important;
    line-height: initial;
  }
  h1 {
    margin-bottom: 0px !important;
    padding-top: 2rem;
    min-height: 100px;
  }
  .contenido {
    min-height: 150px;
  }
  .boton_ver_trucos {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .subtitle {
    line-height: 0px;
    padding-bottom: 1rem;
    p {
      color: $gris1;
      font-size: 1rem !important;
    }
  }
  a.boton1 {
    color: $white;
  }
}

// Visual mode Truco Vídeo

.node--view-mode-truco-video {
  background-color: $white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  padding-bottom: 20px;
  border-radius: 0.5rem;
  min-height: 450px;
  .magazine__field-category {
    text-align: center;
    background-color: $naranja1;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 0 0 10px 10px;
    font-size: 1.3rem;
    a {
      color: $white;
      font-family: 'NunitoSans-Bold';
    }
  }
  .node--view-mode-truco-video {
    iframe {
      border-radius: 0px !important;
    }
    p {
      font-size: 0.8rem !important;
      line-height: initial;
    }
    h1 {
      margin-bottom: 0px !important;
      padding-top: 2rem;
      min-height: 100px;
    }
    .video-embed-field-responsive-video {
      max-width: 220px;
      height: 220px;
      margin: auto;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
} 

// Visual mode Trucos de hogar
.node--view-mode-trucos {
  background-color: $white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  padding-bottom: 20px;
  border-radius: 0.5rem;
  min-height: 450px;
  .magazine__field-category {
    text-align: center;
    background-color: $naranja1;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 0 0 10px 10px;
    a {
      color: $white;
      font-family: 'NunitoSans-Bold';
    }
  }
  p {
    font-size: 0.8rem !important;
    line-height: initial;
  }
  h1 {
    margin-bottom: 0px !important;
    padding-top: 2rem;
    min-height: 100px;
  }
  .contenido {
    min-height: 150px;
  }
  .boton_ver_trucos {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .subtitle {
    line-height: 0px;
    padding-bottom: 1rem;
    p {
      color: $gris1;
      font-size: 1rem !important;
    }
  }
  a.boton1 {
    color: $white;
  }
}