<div class="container-community-navigation">
    <div class="item-community-navigation">
        <a href="/user" class="d-flex align-items-center"><span class="btn-ci ci-perfil"></span> Mi perfil</a>
    </div>
    <div class="item-community-navigation">
        <a href="/node/2818" class="d-flex align-items-center"><span class="btn-ci ci-publicaciones"></span> Publicaciones</a>
    </div>
    <div class="item-community-navigation">
        <a href="/node/2817" class="d-flex align-items-center"><span class="btn-ci ci-miembros"></span> Miembros</a>
    </div>
    <div class="item-community-navigation">
        <a href="/node/2799" class="d-flex align-items-center"><span class="btn-ci ci-faq-community"></span> ¿Que puedo hacer en la comunidad?</a>
    </div>
</div>