<div class="container-rrss d-flex align-items-center">
  <a href="https://www.facebook.com/supermercadosconsum" target="_blank">
    <span class="btn-ci ci-facebook"></span>
  </a>
  <a href="https://twitter.com/consum" target="_blank">
    <span class="btn-ci ci-twitter"></span>
  </a>
  <a href="https://www.youtube.com/user/SupermercadosConsum" target="_blank">
    <span class="btn-ci ci-youtube"></span>
  </a>
  <a href="https://www.instagram.com/supermercadosconsum/" target="_blank">
    <span class="btn-ci ci-instagram"></span>
  </a>
</div>
