
{#
/**
 * @file
 * Template for a block.
 */
#}
{#
    Variables
  newsletter_img: Newsletter image orientation
  heigth: Heigth of layer image
#}
<div class="{{ heigth }} mb-3">
    <img src="{{ newsletter_img }}" class="img-fluid" />
</div>