
{#
/**
 * @file
 * Template for a block.
 */
#}
{#
    Variables
  social_net: social net name
  image: provisional image
#}
<div class="social-net-block">
    <img src=" {{ image }} " class="img-fluid"/>
</div>