<div class="container-user">
    {% if user_picture == "false" %}
        <span class="btn-ci ci-user" data-toggle="collapse" data-target="#collapseUser" aria-expanded="false" aria-controls="collapseUser"></span>
    {% else %}
        <img class="user_picture" src="{{ user_picture }}"  data-toggle="collapse" data-target="#collapseUser" aria-expanded="false" aria-controls="collapseUser">
    {% endif %}
    <div class="collapse" id="collapseUser">
        <div class="t-e"></div>
        <p class="d-flex align-items-center"><span class="btn-ci ci-correo"></span> Mensajes</p>
        <p class="d-flex align-items-center"><a href="/user" class="d-flex align-items-center"><span class="btn-ci ci-gear"></span> Ãrea Personal</a></p>
        <p class="d-flex align-items-center"><span class="btn-ci ci-charla"></span> Mundo Consum</p>
        <!--p class="d-flex align-items-center"><span class="btn-ci ci-transporte"></span> Pedidos</p-->
        <p class="d-flex align-items-center"><span class="btn-ci ci-lista"></span> Lista de la compra</p>
        <p class="d-flex align-items-center"><a href="/user/logout" class="d-flex align-items-center"><span class="btn-ci ci-exit"></span> Salir</a></p>
    </div>
</div>