
{#
    Variables
  image: background image
  title: recipe title
  selection: for highlighted recipes value is 1
#}
{#{ vardumper() }#}

{% block header %}
<div class="recetas img-fluid" style='background-image:url("{{ image }}")'>
  <div class="row ml-4">
    <h5 class="d-inline" style="color:white; position:relative; margin-top: -3.5%">
    <a href="{{ path('entity.node.canonical', {'node': 145}) }}" style="color:white">
      Recetas
    </a>
    </h5>
    <h5 class="d-inline" style="color:white; position:relative; margin-top: -3.5%">
    &nbsp;>&nbsp;
    </h5>
    <h5 class="d-inline" style="color:white; position:relative; margin-top: -3.5%">
    <a href="{{ url('<front>') }}" style="color:white">
      Inicio
    </a>
    </h5>
    {% if selection == 1 %}
      <div class="d-inline"><img class="selection img-fluid" src="../sites/default/files/seleccionconsum.png" /></div>
    {% endif %}
  </div>

  <h1> {{ title }} </h1>

</div>
{% endblock %}
