<h2>Lista Personas</h2>
<div>
    <button routerLink="/persona-addmod/-1">Añadir Persona</button>
</div>

<table border=1.5px>
    <thead>
        <th>ID</th>
        <th>DNI</th>
        <th>NOMBRE</th>
        <th>APELLIDOS</th>
        <th>Editar</th>
        <th>Borrar</th>
    </thead>
    <tbody>
        <tr *ngFor="let p of lista">
            <td>{{p.ID}}</td>
            <td>{{p.DNI}}</td>
            <td>{{p.NOMBRE}}</td>
            <td>{{p.APELLIDOS}}</td>
            <td><button routerLink="persona-addmod/{{p.ID}}">Edit</button></td>
            <td><button (click)="delete(p.ID, p.NOMBRE, p.APELLIDOS)">Borrar</button></td>
        </tr>
    </tbody>
</table>