.page-mi-cuenta {
  .target-mi-cuenta {
    background-color: $white;
    border-radius: 10px;
    margin-bottom: 20px;
    height: calc(100% - 20px);
    .title-target {
      background-color: #f8951d;
      border-radius: 10px 10px 0px 0px;
      padding: 20px 35px;
      overflow: auto;
      p {
        color: $white;
        margin-bottom: 0px;
        font-weight: bold;
        float: left;
      }
      img {
        float: right;
      }
    }
    .content-target {
      padding: 20px 35px;
      p {
        margin-bottom: 0px;
        img {
          margin-right: 10px;
        }
      }
      .title-field {
        color: #9997a2;
        font-size: 18px;
      }
      .txt-field {
        font-size: 18px;
        margin-bottom: 5px;
      }

      .num-direcciones {
        margin-top: 25px;
        /*span {
          border-radius: 100px;
          color: #f8951d;
          font-size: 18px;
          border: 1px solid #f8951d;
          padding: 2px 10px;
        }*/
      }

      a {
        img {
          margin-right: 10px;
        }
      }
    }
  }

  .target-1,
  .target-3 {
    .content-target {
      a {
        color: #f8951d;
        & > div {
          margin-top: 20px;
        }
      }
    }
  }

  .target-4 {
    .content-target {
      p {
        margin-bottom: 40px !important;
      }
      a {
        line-height: 35px;
      }
    }
  }
}
