<div class="col-md-12 col-politicascopyright">     
    <p>
        <span class="item"><a href="/node/2705">Términos y condiciones legales</a></span>
        <span class="separador">|</span>
        <span class="item"><a href="/node/2713">Política de privacidad</a></span>
        <span class="separador">|</span>
        <span class="item"><a href="/node/80">Política de cookies</a></span>
        <span class="separador">|</span>
        <span class="item"><a href="/node/81">Configuración de cookies</a></span>
        <span class="separador">|</span>
        <span class="item"><a href="/node/2758">Capital Social Voluntario</a></span>
        <br class="d-block d-sm-block d-md-none d-lg-none">
        <span class="copyright">© Copyright - Consum Cooperativa 2020</span>
    </p>
</div>