<div class="d-none d-sm-none d-md-none d-lg-block">
  <div class="div-global">
    <div class="div-global-icons">
      <img src="/themes/custom/consum_es/assets/img/appstore.png" />
      <img src="/themes/custom/consum_es/assets/img/googleplay.png" />
    </div>
    <div class="div-btn-ac d-lg-flex justify-content-end">
      <a class="boton2 d-flex align-items-center" href="https://ayuda.consum.es/hc/es" target="_blank">
        <span class="btn-ci ci-informacion"></span> ATENCIÓN AL CLIENTE
      </a>
    </div>
  </div>
</div>
<div class="d-none d-sm-none d-md-flex d-lg-none justify-content-center">
  <div class="div-global d-flex align-items-center">
    <div class="div-btn-ac d-lg-flex justify-content-end">
      <a class="boton2 d-flex align-items-center" href="https://ayuda.consum.es/hc/es" target="_blank">
        <span class="btn-ci ci-informacion"></span> ATENCIÓN AL CLIENTE
      </a>
    </div>
    <div class="div-global-icons">
      <p>Descarga nuestra App</p>
      <img src="/themes/custom/consum_es/assets/img/appstore.png" />
      <img src="/themes/custom/consum_es/assets/img/googleplay.png" />
    </div>
  </div>
</div>
<div class="d-sm-flex d-md-none justify-content-center">
  <div class="div-global">
  <div class="div-btn-ac d-lg-flex justify-content-end">
      <a class="boton2 d-flex align-items-center" href="https://ayuda.consum.es/hc/es" target="_blank">
        <span class="btn-ci ci-informacion"></span> ATENCIÓN AL CLIENTE
      </a>
    </div>
    <div class="div-global-icons">
      <p>Descarga nuestra App</p>
      <img src="/themes/custom/consum_es/assets/img/appstore.png" />
      <img src="/themes/custom/consum_es/assets/img/googleplay.png" />
    </div>
  </div>
</div>
