<!--div class="container-localizacion">
    <p class="d-none d-sm-none d-md-none d-lg-flex align-items-center"><span class="btn-ci ci-localizacion"></span> C/ Comte de Salvatierra, 18</p>
    <p class="d-flex d-sm-flex d-md-flex d-lg-none"><span class="btn-ci ci-localizacion"></span></p>
</div--> <!-- Para mostrar texto de dirección -->

<div class="container-localizacion">
    <p class="d-none d-sm-none d-md-none d-lg-none align-items-center"><span class="btn-ci ci-localizacion"></span> C/ Comte de Salvatierra, 18</p>
    <p class="d-flex d-sm-flex d-md-flex d-lg-flex"><span class="btn-ci ci-localizacion"></span></p>
</div>