{#
/**
* @file
* Default theme implementation for 'housework_organizer'.
*
* Available variables:
* 
*/
#}

{{ attach_library('housework_organizer/housework_organizer.calendar') }}
{{ attach_library('housework_organizer/housework_organizer.calendarFinal') }}


<div class="main-content">

  <section id="organizador">
   <div class="grid-container">
      <div id="CalendarSection">
         <div id="actionTopBar" class="buttonsCalendar">
            <div class="left">
               <a href="#" class="button btn-line btn-add">Añadir tareas <i class="plus-icon"></i></a>
            </div>
            <!--span id="loadCalendar" style="font-size: 12px; float: right; margin: 10px 0 0 20px" onclick="replaceCalendar();">Cargar copia</span>-->
            <div class="right">
               <div class="url_ok"><i class="tick-icon"></i> ¡URL Copiada! <i onclick="hideElem('.url_ok');" class="close-icon"></i></div>
               
               <a href="#"  class="button btn-circle addPerson"> <i class="person-add-icon"></i></a>
               
               <a onclick="copyToClipboard();" class="button btn-circle generateLink"> <i class="link-icon"></i></a>
               
               <!--<a onclick="javascript:createPDF();" class="button btn-download"> <i class="download-icon"></i> Descargar</a>-->
            </div>

         </div>
         <div id="calendar" class="permitEdit">
            <div class="headCalendar">
               <div class="col col_person head_col"> <span class="addPerson">Añadir persona</span> </div>
               <div class="col col_day head_col">Lunes</div>
               <div class="col col_day head_col">Martes</div>
               <div class="col col_day head_col">Miércoles</div>
               <div class="col col_day head_col">Jueves</div>
               <div class="col col_day head_col">Viernes</div>
               <div class="col col_day head_col">Sábado</div>
               <div class="col col_day head_col">Domingo</div>
            </div>
            <!-- .headCalendar -->
            <div class="mobile_day_selector">
               <div class="select">


               <!--
               <div class="day_active change_day" data-day="1">L</div>
               <div class="change_day" data-day="2">M</div>
               <div class="change_day" data-day="3">X</div>
               <div class="change_day" data-day="4">J</div>
               <div class="change_day" data-day="5">V</div>
               <div class="change_day" data-day="6">S</div>
               <div class="change_day" data-day="7">D</div>
               -->

                  <select onchange="showCol(this.value);">
                     <option value="1">Lunes</option>
                     <option value="2">Martes</option>
                     <option value="3">Miércoles</option>
                     <option value="4">Jueves</option>
                     <option value="5">Viernes</option>
                     <option value="6">Sábado</option>
                     <option value="7">Domingo</option>
                  </select>
                  <div class="select_arrow"></div>
               </div>
            </div>
            <div class="contentCalendar">
               <div class="dummyContentCalendar">
                  <div id="person_100" class="exampleRow">
                     <div class="col col_person"></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                  </div>
                  <div id="person_101" class="exampleRow">
                     <div class="col col_person"></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                  </div>
                  <div id="person_102" class="exampleRow">
                     <div class="col col_person"></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                  </div>
                  <div id="person_103" class="exampleRow">
                     <div class="col col_person"></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                  </div>
                  <div id="person_104" class="exampleRow">
                     <div class="col col_person"></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                     <div class="col col_task" ></div>
                  </div>
               </div>
            </div>
            <!-- .contentCalendar -->
         </div>
         <div id="actionBottomBar" class="buttonsCalendar">
            <a onclick="javascript:sendWhatsapp();" class="button btn-line btn-whatsapp"><i class="whatsapp-icon"></i></a>
            <a onclick="javascript:createPDF();" class="button btn-download"><i class="download-icon"></i></a>
            <a class="button btn-circle addPerson"><i class="person-add-icon"></i></a>
            <a class="button btn-line btn-add"><i class="plus-icon"></i> Añadir tarea </a>
         </div>
      </div>
      <div class="modal" id="modalInitPerson">
         <div class="center_modal">
            <div class="wrap_modal">
               <form>
                  <div class="headModalTasks">
                     <h4>¡Empieza añadiendo a los participantes!</h4>
                     <i class="close-icon btnCloseModal"></i>
                  </div>
                  <div class="formTaks">
                     <div class="rowForm rowParticipantes">
                     </div>
                     <div class="rowForm groupRow">
                        <input type="text" value="" placeholder="Introducir nombre..." name="name">
                        <i onclick="javascript:addNewInput();" class="plus-icon"></i>
                     </div>
                  </div>
 
                  <div class="rowForm">
                     <button class="submit" onclick="javascript:createPersons();return false;">Guardar</button>
                  </div>
               </form>

            </div>
         </div>
      </div>

      <div class="modal" id="modalPerson">
         <div class="center_modal">
            <div class="wrap_modal">
               <form>
                  <div class="headModalTasks">
                     <h4>Añadir persona</h4>
                     <i class="close-icon btnCloseModal"></i>
                  </div>
                  <div class="formTaks">
                     <div class="rowForm">
                        <label>Nombre</label>
                        <input type="text" placeholder="Introducir nombre..." value="" name="person_name">
                     </div>
                  </div>
                  <div class="formTaks">
                     <div class="rowForm rowForm--color">
                        <label>Color</label>
                        <label for="person_color"> <input id="person_color" type="color" value="" name="person_color"> <i class="icon-color"></i></label>
                     </div>
                  </div>

                  <div class="rowForm">
                     <button class="submit submitIcon">Añadir <i class="plus-icon"></i></button>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <div class="modal" id="modalEditTasks">
         <div class="center_modal">
            <div class="wrap_modal">
               <div class="headModalEdit">
                  <h3>Tareas Andrea</h3>
                  <p>Jueves</p>
                  <!-- <i class="close-icon btnCloseModal"></i>	-->
                  <div class="toolsEditTask">
                     <span class="btnEdit" onclick="editTask();"></span>
                     <span class="btnRemove" onclick="deleteTask();"></span>        
                     <span class="close-icon btnCloseModal"></span>        
                  </div>	
               </div>
               <div class="contentModalEdit">
                  <div class="taskEdit">
                     <h2>Cocina</h2>
                     <p>Encimera</p>
                     <p>Nevera</p>
                     <p>Azulejos</p>
                  </div>
               </div>
               <form>
                  <input type="hidden" name="row" value="row">
                  <input type="hidden" name="col" value="col">
                  <input type="hidden" name="area" value="area">
               </form>
               <!--
               <div class="buttonsEdit">
                  <span class="btnEdit" onclick="editTask();">Editar</span>
                  <span class="btnRemove" onclick="deleteTask();">Borrar</span>			
               </div>
               -->
            </div>
         </div>
      </div>
      <div class="modal" id="modalEditSelectedTask">
         <div class="center_modal">
            <div class="wrap_modal">
               <form>
                  <div class="headModalTasks">
                     <h4>Editar tarea</h4>
                     <i class="close-icon  btnCloseModal"></i>
                  </div>
                  <div class="formTaks">
                     <div class="rowForm">
                        <label>Seleccionar Areas:</label>
                        <div class="select">
                           <select id="editSelectArea" onchange="generateSelect_Tasks(this.value);" name="area"></select>
                           <div class="select_arrow"></div>
                        </div>
                     </div>
                     <div class="rowForm">
                        <label>Seleccionar Tarea:</label>
                        <select multiple id="editSelectTask" name="task"></select>
                     </div>
                     <input type="hidden" name="row" value="">
                     <input type="hidden" name="col" value="">		
                     <div class="rowForm">
                        <span class="submit saveModTask" onclick="javascript:saveModTask();">Modificar</span>
                     </div>
                  </div>
            </div>
            </form>
         </div>
      </div>
      <div class="modal" id="modalTasks">
         <div class="center_modal">
            <div class="wrap_modal">
               <form>
                  <div class="headModalTasks">
                     <h4>Añadir tareas</h4>
                     <i class="close-icon  btnCloseModal"></i>
                  </div>
                  <div class="formTaks">
                     <div class="rowForm rowSelectPerson">
                        <label>Seleccionar persona: <span onclick="addNewPerson();">añadir</span></label>
                        <div class="select">
                           <select id="selectPerson" name="person"></select>
                           <div class="select_arrow"></div>
                        </div>
                        <div class="daylist">
                           <div class="day"><label>L</label><input name="day[]" type="checkbox" value="2"></div>
                           <div class="day"><label>M</label><input name="day[]" type="checkbox" value="3"></div>
                           <div class="day"><label>X</label><input name="day[]" type="checkbox" value="4"></div>
                           <div class="day"><label>J</label><input name="day[]" type="checkbox" value="5"></div>
                           <div class="day"><label>V</label><input name="day[]" type="checkbox" value="6"></div>
                           <div class="day"><label>S</label><input name="day[]" type="checkbox" value="7"></div>
                           <div class="day"><label>D</label><input name="day[]" type="checkbox" value="8"></div>
                        </div>
                     </div>
                     <div class="rowForm">
                        <label>Seleccionar Areas:</label>
                        <div class="select">
                           <select id="selectArea" onchange="generateSelect_Tasks(this.value);" name="area"></select>
                           <div class="select_arrow"></div>
                        </div>
                     </div>
                     <div class="rowForm">
                        <label>Seleccionar Tarea:</label>
                        <select multiple id="selectTask" name="task"></select>
                        <input type="hidden" name="row" value="">
                        <input type="hidden" name="col" value="">
                     </div>
                     <div class="rowForm">
                        <button class="submit submitIcon">Aceptar <i class="plus-icon"></i></button>
                     </div>
                  </div>
            </div>
            </form>
         </div>
      </div>

   </div>
</section>
        </div>

    </div>
